.langIcon {
    width:55px;
    height:55px;
    margin: 0 auto;
}

.projectContainer{
    width:35%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .projectContainer{
        width:100%;
    }

    .langIcon{
        padding-top:50px;
    }
  }